
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Thin.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Light.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Regular.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Extended.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-Italic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Medium.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Bold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/Iosevka-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/Iosevka-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/Iosevka-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/Iosevka-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/Iosevka-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/Iosevka-ExtendedHeavyItalic.TTF') format('truetype');
}
